.content {
  h2 {
    font-size: 1.25rem;
    font-family: "Beleren Bold", sans-serif;
  }
  p,h2 {
    padding-bottom: .25rem;
  }
  blockquote {
    font-size: 0.8rem;
    margin-top: 2rem;
    text-align: right;
  }
}
